:root {
  background-color: #282828;
  color: #ebdbb2;
  width: auto;
  height: auto;
}

button {
  background-color: #3c3836;
  border-color: #928374;
}

button:hover {
  background-color: #504945;
}

.input {
  width: 100;
}

.weather_icon {
  height: 50px;
  width: 50px;
}

vstack.col {
  child-space: 2s;
}

hstack.row {
  child-space: 2s;
}

.title {
  font-weight: bold;
  font-size: 42px;
}
textbox.form_input {
  width: 100px;
}

label.error {
  font-weight: bold;
  font-size: 28px;
  color: #ebdbb2;
  background-color: red;
}
