:root {
  background-color: #282828;
  color: #ebdbb2;
  width: auto;
  height: auto;
}

button {
  background-color: #3c3836;
  border-color: #928374;
}

button:hover {
  background-color: #504945;
}

.input {
  width: 100;
}

.row {
  background-color: #83a598;
}

.weather_icon {
  height: 50px;
  width: 50px;
}

.location_form_vstack {
  child-space: 1s;
}

.location_form_hstack {
  child-space: 1s;
}

.title {
  font-weight: bold;
  font-size: 42;
}
